.jsf-treeMasterDetail-content {
  display: flex;
  flex-direction: row;
}

.jsf-treeMasterDetail-master {
  border: 3px;
  border-right: 0px;
  border-style: solid;
  border-color: blue;
}

.jsf-treeMasterDetail-detail {
  border: 3px;
  border-style: solid;
  border-color: blue;
}

.jsf-treeMasterDetail-master li {

}

.jsf-treeMasterDetail-master ul {
  list-style: none;
}

.jsf-treeMasterDetail-master li.selected {

}

.jsf-treeMasterDetail-master li > div {
  border-width: thin;
  border-style: solid;
  border-radius: 0.2em;
  border-color: black;
  padding: 0.25em;
  margin-top: 0.25em;
}

.jsf-treeMasterDetail-master li > div:hover {
  background-color: rgb(205, 205, 205);
  font-weight: normal;
}

.jsf-treeMasterDetail-master li.selected > div {
  background-color: rgba(235, 235, 235, 1);
  border-width: medium;
  /*border-style: solid;
  border-color: black;*/
  /*padding: 0.25em;
  margin-top: 0.25em;*/
}

.label .jse-tree-element-text {
  float: left;
  min-width: 2em;
  min-height: 1em;
}

.jsf-treeMasterDetail-master li > div:hover > .label > .add, .jsf-treeMasterDetail-master li > div:hover > .label > .remove {
  /*display: flex;
  justify-content: flex-start;*/
}

/* Override CSS from jsonforms-example */
.jsf-treeMasterDetail-master li::before, .jsf-treeMasterDetail-master li::after, .jsf-treeMasterDetail-master ul::after {
  border: none;
}

.jsf-treeMasterDetail-master li > div > .label:hover {
  background-color: inherit;
  font-weight: normal;
}

.jsf-treeMasterDetail-master li.selected > div > .label {
  font-weight: normal;
}
