body {
  font-family: 'Roboto', sans-serif;
}
.icon {
  background-repeat: no-repeat;
}
.icon.datatype {
  background-image: url('./EDataType.gif');
}
.icon.enum {
  background-image: url('./EEnum.gif');
}
.icon.enumliteral {
  background-image: url('./EEnumLiteral.gif');
}
.icon.package {
  background-image: url('./EPackage.gif');
}
.icon.parameter {
  background-image: url('./EParameter.gif');
}
.icon.reference {
  background-image: url('./EReference.gif');
}
.icon.typeparameter {
  background-image: url('./ETypeParameter.gif');
}
.icon.class {
  background-image: url('./EClass.gif');
}
.icon.attribute {
  background-image: url('./EAttribute.gif');
}
.icon.operation {
  background-image: url('./EOperation.gif');
}
.icon.annotation {
  background-image: url('./EAnnotation.gif');
}


/*temporary fix*/
.tree-master li > div {
  min-height: 1.25em;
}
.tree-master li::after {
  top:-0.625em;
}

.label .jse-tree-element-text {
  float: left;
  min-width: 2em;
  min-height: 1em;
}

jsonforms-tree > dialog {
  margin: 0;
  padding: 0;
  border: 1px solid;
}
jsonforms-tree > dialog button {
  width: 100%;
  background: #eee;
  border: 1px solid #ddd;
  outline: none;
}
jsonforms-tree > dialog button:focus {
  outline: none;
}
jsonforms-tree > dialog button:hover {
  background: #ddd;
  border: 1px solid #ccc;
}
